@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@*<h1>@ViewData["Title"]</h1>*@
<style>

 </style>

<div class="row  justify-content-center">
    <div class="col-md-6">
        <section class="acc-wrap-sec">
            <div class="acc-wrap p-4 p-md-5">

                <h4> <i class="fa fa-key"></i> Forgot Your Password</h4>
                <hr />
                @*<partial name="_StatusMessage" for="StatusMessage" />*@
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" placeholder="Enter Your Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="text-md-right">
                                <button type="submit" class="btn btn-primary p-3 px-5 pull-right">Submit <i class="fa fa-check-circle"></i> </button>
                            </div>
                            <p class="mb-0 text-muted">Already have an account? <a href="Login" class="f-w-400">Login Page</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
